@{
  ViewData["Title"] = "Delete";
}

<hi>Animal Delete:</hi>
<ul>
  <li>ID: @Model.AnimalId</li>
  <li>Name: @Model.Name</li>
  <li>Species: @Model.Species</li>
  @* <li>Gender: @Model.Gender</li> *@
</ul>
<br>

<a href="/Animals/Delete/@(Model.AnimalId)"><p>Delete</p></a>
<br>
<button type="submit">Go!</button>

<a href="/Animals"><p>Return</p></a>

